<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211330093605-hnultmo73vi085ns1ko818em86ur09q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211330093605-hnultmo73vi085ns1ko818em86ur09q6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211330093605-fl0g2j7h2u78a6pjgh2hrc6efo89rs6m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDx_0Q5prCiimzJCi5MG9F2oj6ERh4ad-w</string>
	<key>GCM_SENDER_ID</key>
	<string>211330093605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.googlecomponent</string>
	<key>PROJECT_ID</key>
	<string>component-7320b</string>
	<key>STORAGE_BUCKET</key>
	<string>component-7320b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211330093605:ios:b37d6c566ea497c96925cc</string>
	<key>DATABASE_URL</key>
	<string>https://component-7320b.firebaseio.com</string>
</dict>
</plist>