<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools" package="softprodigy.samplesapplication">

    <uses-feature android:name="android.hardware.fingerprint"
                  android:required="true"/>
    <dist:module dist:instant="true"/>

    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera"/>

    <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>


    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:clearTaskOnLaunch="true"
            android:name=".MyApplicationMultiDex"
            android:theme="@style/AppBaseTheme"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
                android:name=".service.MyJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>
    </application>


</manifest>